div {
    border: solid 2px black;
    width: 100px;
    height:100px;

}
.element1{
    float: right;
}
.element2{
    float: right;
}
.element3{
    clear: both;
    float: right;
}
.element4{
    clear: both;
    clear: both;

}
.element6{
    float: right;
     }
.element7{
    clear: both;
    margin: auto;
}
