 body{
    margin: 0;
}
 .header{
     height: 900px;
     background-image: url("foto_class2.png");
     background-repeat: no-repeat;
     background-size: 100%;
     border: 1px solid transparent;

 }
 .header_text {
   margin: 300px 0 0 215px ;
 }
 .sertz {
     font-family: 'IBM Plex Mono', monospace;
     font-size: 48pt;
     color: rgba(255, 255, 255, 255);
     text-align: left;
     /*margin: 0 0 1600px 900px ;*/
 }
 .awsome {
     font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
     font-size: 18pt;
     color: rgba(255, 255, 255, 255);
     text-align: left;
 }
 .we {
     font-family: ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
     font-size: 54pt;
     color: rgba(244, 142, 11, 255);
     text-align: left;
 }
 .make {
     font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
     font-size: 54pt;
     color: rgba(255, 255, 255, 255);
     text-align: left;
 }